#Ignore everything in "data" folder to avoid storing large files in git
*

# include documentation and git files
!README.txt
!.gitignore

# Includes data proccessing scripts and requirements
!download.py
!process_MELD.py
!requirements.txt
